body {
  font-family: "Montserrat", sans-serif;
  background: lightgrey;
}

.buttonOption {
  display: flex;
  justify-content: center;
}

button {
  padding: 20px 40px;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid darkgrey;
  margin: 30px;
  box-shadow: 4px 4px 5px grey;
  font-weight: 600;
  width: 300px;
  text-align: center;
}

.isHidden {
  display: none;
}

.button-animation {
  transition: transform 0.15s, box-shadow 0.15s, filter 0.15s;
  box-shadow: 4px 4px 5px grey;

  &:hover {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px 1px grey;
    filter: brightness(85%);
  }
}

.newGame {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-size: bold;
  color: white;
  background: #00af00;
}

.output-styles {
  text-align: center;
  font-size: 20px;
}

#result {
  font-size: 8em;
  font-weight: 900;
}

#round {
  font-size: 2.5em;
  padding-bottom: 30px;
}
//Modal

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.show {
  display: block;
}

.modal {
  border: 8px solid #00af00;
  border-radius: 15px;
  display: block;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  h1 {
    color: #00af00;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 15px;
  }
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;

  thead {
    background: #00af00;
    color: white;

    th {
      padding: 10px 30px;
      font-size: 20px;
    }
  }

  tbody {
    background: rgba(0,175,0,0.15);
      td {
        padding: 10px 30px;
      }

  }
}
tbody tr:hover {
    background: rgba(0,175,0,0.35);
    cursor: pointer;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 10px;
  font-size: 20px;
  height: 10px;
  width: 10px;
  padding: 10px;
  margin: 15px;
  border-radius: 50%;
  color: #000;
  background: #00af00;
  font-weight: bold;
  cursor: pointer;

  p {
    position: absolute;
    top: -35%;
    left: 30%;
  }
}

header {
  color: black;
  font-size: 25px;
  min-height: 30px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  opacity: 0.10;
}
